<h1>Account Verification with Ruby on Rails</h1>

<p>This demo application will show you how to implement user account verification with Twilio-powered <%= link_to "Authy", "http://authy.com" %> (powered by <%= link_to "Twilio", "http://twilio.com" %>) in Ruby on Rails.

<p><%= link_to "Sign up", new_user_path %> for an account to see how it works!</p>