# Your Twilio Account SID. Get a free account at twilio.com/try-twilio
TWILIO_ACCOUNT_SID=your_twilio_account_SID
# Your Twilio Auth Token. You can get it at twilio.com/console
TWILIO_AUTH_TOKEN=your_twilio_auth_token
# The Twilio phone number you want to use to send SMS. Get one in the Twilio Console
TWILIO_NUMBER=your_twilio_phone_number
# Application SID. Create a new one: https://www.twilio.com/console/voice/dev-tools/twiml-apps
ANONYMOUS_APPLICATION_SID=your_application_sid
